.card {
    background: transparent url(../src/nosotros/Card/fondo1.png) 70% 45%;
    background-size: cover; /* La imagen se ajustará para cubrir completamente el contenedor */
    background-repeat: no-repeat;
}

.card .card-img-top {
    width: 150px;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin: auto;
    padding: 10px;
}

.card {
    /* Ajusta el ancho según tus necesidades */
    max-width: 500px; /* Establece un ancho máximo para evitar que la tarjeta sea demasiado ancha */
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
}

.card .card-body p {
    background-color: #DFD3C3;
    text-align: justify;
    color: #85586F;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.card .card-title {
    position: absolute;
    bottom: 0;
    right: 10px; /* Ajusta la posición desde la derecha según tus necesidades */
    margin-bottom: 0; /* Elimina el margen inferior para que esté tocando la imagen */
    color: black; /* Cambia el color del texto según sea necesario para que se destaque en la imagen */
    text-shadow: 0px 20px 7px #FFFFFF
}