.navbar-brand img {
    width: 60px;
    height: 60px;
    margin-left: 30px;
}

.resumen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .img_resumen {
    width: 200px;
    height: 200px;
    margin-left: auto; /* Para centrar la imagen en dispositivos pequeños */
    margin-right: auto;
  }

  @media (min-width: 600px) {
    .resumen {
      flex-direction: row;
      justify-content: space-between;
    }

    .txt_resumen {
      margin-right: 35px; /* Agregar margen derecho al párrafo para separar la imagen del texto en desktop */
    }

    .img_resumen {
      margin-left: 0;
    }
  }

.nosotros {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background: url(../src/nosotros/Card/fondo1.png);
    background-size: cover; /* La imagen se ajustará para cubrir completamente el contenedor */
    background-repeat: no-repeat;
}

.card .card-img-top {
    width: 50%;
    height: auto; 
    margin: auto;
    padding: 10px;
}

.card .card-body p {
    background-color: #DFD3C3;
    text-align: justify;
    color: #85586F;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.card .card-title {
    position: absolute;
    bottom: 0;
    right: 10px; /* Ajusta la posición desde la derecha según tus necesidades */
    margin-bottom: 0; /* Elimina el margen inferior para que esté tocando la imagen */
    color: black; /* Cambia el color del texto según sea necesario para que se destaque en la imagen */
    text-shadow: 0px 20px 7px #FFFFFF
}